.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Comic Sans MS";
    -fx-base: rgb(32, 75, 193);
    -fx-background: rgb(244, 216, 247);
}
.intro {
	fx-padding-top : 7em;
}
.button {
    -fx-text-fill: #006464;
    -fx-background-color: #06FFF8;
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-padding: 8;
}

.button:hover {
    -fx-background-color: #F99FF3;
}

.combo-box-base {
    -fx-text-base-color: #F99FF3;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.combo-box-base:hover {
    -fx-background-color: #3a3a3a;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Georgia UI Semibold";
    -fx-text-fill: #2EF556;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Georgia UI Semibold";
}
